body{
background-image: url(babyblue.webp) ;
padding: 10px

}

nav{
    display: flex;
     flex-direction: column;
     align-items:  center;

}
a{
    text-decoration: none;
    color: rgba(13, 160, 160, 0.555);
     display: flex;
     justify-content: center;
       font-size: 32px;
        font-family:Arial, Helvetica, sans-serif;
        outline-style:solid;
      outline-width: 3.5;
      background-color: rgb(249, 251, 253);
      border-radius: 50px;
       text-align: center;
       width: 30%;  
       margin: 60px;
     
}
 a:hover{
    color: rgb(0, 0, 0);
    opacity: 0.8;
 animation: ahover 1s infinite;
}
@keyframes ahover{
75%{font-size: 40px}
100%{color: rgb(247, 247, 35);}
25%{font-size: 32px}
25%{color:rgb(127, 255, 129)}
}
h1{
    text-align: center;
    color:rgb(0, 0, 0);
    font-family:Arial, Helvetica, sans-serif;
    font-size: 48px;
    margin-right: 22px;
}
